<div class="home-footer">
    <div class="max-width-container">
      <footer class="home-footer1">
        <div class="home-container09">
          <h3 class="home-text28 heading-3">BB PETS</h3>
          <span class="home-text29">Enrique Olivares #2019, La Florida</span>
          <span class="home-text30">+569 5748 5691</span>
          <span class="home-text31">
            <span>bbpetsltda@gmail.com</span>
            <br />
            <span>contacto@bbpets.cl</span>
            <br />
            <br />
          </span>
        </div>
        <div class="home-links-container">
          <div class="home-container10">
            <span class="home-text37">Categories</span>
            <span class="home-text38">Gatos</span>
            <span class="home-text39">Perros</span>
            <span class="home-text40">Otros Animales</span>
            <span class="home-text41">Accesorios</span>
            <span class="home-text42">Salud y Bienestar</span>
          </div>
          <div class="home-container11">
            <span class="home-text43">Company</span>
            <span class="home-text44">Shop</span>
            <span class="home-text45">Ofertas</span>
            <span class="home-text46">Catalogo</span>
            <span class="home-text47">Contacto</span>
          </div>
          <div class="home-container12">
            <span class="home-text48">Resources</span>
            <span class="home-text49">Contacta con nosotros</span>
            <span class="home-text50">Compra lo mejor </span>
            <span class="home-text51">Delivery</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
