:host { 
    display: contents; 
  }
  .home-main {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-hero {
    display: flex;
    height: 100%;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: #dedec6;
  }
  .home-max-width {
    max-width: 1032px;
  }
  .home-hero1 {
    width: 644px;
    display: flex;
    position: relative;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-container04 {
    display: flex;
    margin-right: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-info {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text10 {
    color: var(--dl-color-gray-black50);
    font-size: 12px;
    text-align: left;
    font-family: Jost;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
  }
  .home-text15 {
    max-width: 450px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text16 {
    text-align: center;
  }
  .home-container05 {
    display: flex;
    align-items: flex-end;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: row;
  }
  .home-text20 {
    color: var(--dl-color-gray-black80);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-right: 4px;
    letter-spacing: 0.1em;
  }
  .home-text21 {
    color: var(--dl-color-gray-black80);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .home-image6 {
    width: auto;
    height: auto;
    max-width: 520px;
    align-self: stretch;
    object-fit: cover;
  }
  @media(max-width: 991px) {
    .home-hero1 {
      flex-direction: column;
    }
    .home-container04 {
        align-items: center;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
        padding-right: 0px;
    }
    .home-text15 {
        text-align: center;
    }
  }
  
  @media(max-width: 767px) {
    .home-main {
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-hero {
        padding-top: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-unit);
    }
    .home-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
  }
  
  @media(max-width: 479px) {
    .home-hero1 {
      padding-top: 45px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container04 {
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-image6 {
        margin-left: 27%;
        text-align: center;
        width: 44%;
    }
  }