<div class="home-container">
  <app-header></app-header>
  <div class="home-main">
    <div class="home-hero section-container">
      <div class="home-max-width max-width-container">
        <div class="home-hero1">
          <div class="home-container04">
            <div class="home-info">
              <img
                alt="Rectangle43271305"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMicgaGVpZ2h0PSc1Micgdmlld0JveD0nMCAwIDIgNTInIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxyZWN0IHdpZHRoPScyJyBoZWlnaHQ9JzUyJyBmaWxsPSdibGFjaycgZmlsbC1vcGFjaXR5PScwLjUnLz4KPC9zdmc+Cg=="
                class="home-image5"
              />
              <span class="home-text10">
                <span>TENDENCIAS EN</span>
                <br />
                <span>ALIMENTO 2022</span>
                <br />
              </span>
            </div>
            <h1 class="home-text15">
              <span class="heading-1 home-text16">Banda QR</span>
              <br />
              <span>No Mas Mascotas Perdidas</span>
              <br />
            </h1>
            <div class="home-container05">
              <span class="home-text20">VALOR</span>
              <span class="home-text21">$1.990</span>
            </div>
            <div class="home-btn-group">
              <button class="button">VER MAS ...</button>
            </div>
          </div>
          <img
            alt="image"
            src="/assets/playground_assets/bandaqr-1500w.jpg"
            class="home-image6"
          />
        </div>
      </div>
    </div>
    <div class="section-container column">
      <div class="home-max-width1 max-width-container">
        <section-heading
          heading="CATEGORIAS"
          subtitle="Comienza a comprar según las categorías que te interesen"
        ></section-heading>
        <div class="home-cards-container">
          <category-card
            name="Gatos"
            category_img="/assets/playground_assets/gato1-1500w.jpg"
          ></category-card>
          <category-card
            name="Perros"
            category_img="/assets/playground_assets/perro1-1500w.png"
          ></category-card>
          <category-card
            name="Otros Animales"
            category_img="/assets/playground_assets/erizo-1500w.jpg"
          ></category-card>
          <category-card
            name="Accesorios"
            category_img="/assets/playground_assets/tienda-animales-1500w.jpg"
          ></category-card>
          <category-card
            name="Salud y Bienestar"
            category_img="/assets/playground_assets/salud-1500w.jpg"
          ></category-card>
        </div>
      </div>
      <div class="home-banner">
        <div class="home-container06">
          <h3 class="heading-3">BB PETS</h3>
          <span class="home-text23">
            <span></span>
            <span>MaSCOTAS</span>
            <br />
          </span>
        </div>
      </div>
      <div class="home-container07 max-width-container">
        <div class="home-container08">
          <span class="home-text27">
            Comercial BB PETS Ltda es una Empresa familiar. Dedicados
            especialmente al servicio de alimentos para mascotas, donde buscamos
            ofrecer un modelo de ventas integral para satisfacer sus necesidades
            de compra, a un precio competitivo y con una atención eficiente y de
            calidad. Contamos con diversos canales de compra donde puede acceder
            a una gran variedad de productos como alimentos, accesorios,
            suplementos y otros.
          </span>
          <img
            alt="M3271427"
            src="/assets/playground_assets/logo3-200w.png"
            class="home-svg"
          />
        </div>
      </div>
    </div>
    <div class="section-container">
      <div class="max-width-container">
        <section-heading></section-heading>
        <div class="home-gallery">
          <div class="home-left1">
            <item-card
              name="Wanpy Lamb 100 grs"
              value="3.500"
              image_src="/assets/playground_assets/wanpy-lamb-100-grs-1500w.jpg"
              rootClassName="rootClassName4"
            ></item-card>
          </div>
          <div class="home-right1">
            <div class="home-top">
              <div class="home-left2">
                <item-card
                  name="Arena Sanicat 7KG"
                  value="8.590"
                  image_src="/assets/playground_assets/arena-sanicat-strong-7-kg-1500w.jpg"
                  rootClassName="rootClassName2"
                ></item-card>
              </div>
              <div class="home-right2">
                <item-card
                  name="Churu Atun "
                  value="2.500"
                  image_src="/assets/playground_assets/snack-gato-churu-atun-1500w.jpg"
                  rootClassName="rootClassName3"
                ></item-card>
              </div>
            </div>
            <div class="home-bottom">
              <div class="home-left3">
                <item-card
                  name="Black Studio Lamp"
                  value="10.990"
                  image_src="/assets/playground_assets/mazuritortuga-1500w.jpg"
                  rootClassName="item-card-root-class-name1"
                ></item-card>
              </div>
              <div class="home-right3">
                <item-card
                  name="Jars"
                  value="9.990"
                  image_src="/assets/playground_assets/mazuriconejo-1500w.jpg"
                  rootClassName="item-card-root-class-name6"
                ></item-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
 
 
